# Project exclude paths
/.gradle/
/jam/build/
/jam/build/classes/java/main/
/jam/build/classes/java/test/
/runtime/build/
/runtime/build/classes/java/main/
/spi/build/
/spi/build/classes/java/main/
/output/
/.idea/
/repo/